[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
requests = "*"
python-twitter = "*"
python-dotenv = "*"
schedule = "*"
plotly = "*"
psutil = "*"
pytz = "*"

[requires]
python_version = "3.8"
